<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Gauge Chart Example</title>
    <script src="https://cdn.jsdelivr.net/npm/@antv/g2plot@2.3.1/build/g2plot.min.js"></script>
    <script src='https://cdn.plot.ly/plotly-2.20.0.min.js'></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  </head>
  <body>
    <h1>Gauge Chart Example</h1>
    <div id="chart-container"></div>
    <div id="line-container"></div>
    <script src="app.js"></script>
  </body>
</html>