<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Basic Charts</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <style>
        h1 {text-align: center;}
        p {text-align: center;}
        div {text-align: center;}
        .center {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 50%;
        }
    </style>
</head>
<body>
    <h1>Canada GDP Ratio vs United States GDP Ratio</h1>
    <div id="plot"></div>
    <script src="/visualizations/project_data/plot.js"></script>
    <img src="canadaus5.jpg" height="400" width="1060" class="center">
</body>
</html>
