<!doctype html>
<html>
<head>
    <link href="/static/style.css" rel="stylesheet">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        function cb(selection) {
            $.getJSON({
                url: "/callback", data: { 'data': selection }, success: function (result) {
                    Plotly.newPlot('chart', result, {staticPlot: true});;
                }
            });
        }
    </script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load("current", {packages:["corechart"]});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
        {% for key, value in data.items() %}
				{% if value is string %}
					['{{ key }}', '{{ value }}'],
				{% else %}
					['{{ key }}', {{ value }}],
				{% endif %}
			{% endfor %}
        ]);

        var options = {
          title: 'Private debt, loans and debt securities (percent of GDP)',
          is3D: true,
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart_3d'));
        chart.draw(data, options);
      }
    </script>
</head>

<body style="font-family:arial, sans-serif">
    <!-- Map -->
    <h1>Percent of GDP 2021 Private debt loans and debt securities</h1>
    <div id="WorldMap"></div>
    <script src="/static/main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/svg-pan-zoom@3.6.1/dist/svg-pan-zoom.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/StephanWagner/svgMap@v2.7.2/dist/svgMap.min.js"></script>
    <link href="https://cdn.jsdelivr.net/gh/StephanWagner/svgMap@v2.7.2/dist/svgMap.min.css" rel="stylesheet">
    <script>
        var svgMapDataGDP = {
            data: {
                gdp: {
                    name: 'GDP per capita',
                    format: '{0}',
                    thousandSeparator: ',',
                    thresholdMax: 1000,
                    thresholdMin: 1
                },
                changeAdjusted: {
                    name: 'Year',
                    format: '2021'
                }
            },
            applyData: 'gdp',
            values: {
                AF: { gdp: 0, change: 4.73, gdpAdjusted: 1958, changeAdjusted: 0.02 },
                AL: { gdp: 38.48934577, change: 11.09, gdpAdjusted: 12507, changeAdjusted: 4.04 },
                DZ: { gdp: 24.93544522, change: 10.01, gdpAdjusted: 15237, changeAdjusted: 0.33 },
                AO: { gdp: 22.88875675, change: 26.49, gdpAdjusted: 6753, changeAdjusted: -2.56 },
                AG: { gdp: 184.7233262, change: 3.26, gdpAdjusted: 26231, changeAdjusted: 2.15 },
                AR: { gdp: 152.7832285, change: 13.83, gdpAdjusted: 20876, changeAdjusted: 1.77 },
                AM: { gdp: 33.37301625, change: 9.22, gdpAdjusted: 9456, changeAdjusted: 7.33 },
                AU: { gdp: 277.1921971, change: 7.39, gdpAdjusted: 50334, changeAdjusted: 0.97 },
                AT: { gdp: 103.0011798, change: 5.72, gdpAdjusted: 49869, changeAdjusted: 2.66 },
                AZ: { gdp: 38.2671638, change: 6.29, gdpAdjusted: 17492, changeAdjusted: -0.91 },
                BS: { gdp: 168.2562855, change: 2.21, gdpAdjusted: 31139, changeAdjusted: 0.31 },
                BH: { gdp: 212.7592576, change: 6.32, gdpAdjusted: 48505, changeAdjusted: 1.02 },
                BD: { gdp: 15.32355654, change: 9.79, gdpAdjusted: 4211, changeAdjusted: 6.10 },
                BB: { gdp: 73.77073431, change: 7.83, gdpAdjusted: 18664, changeAdjusted: 0.64 },
                BY: { gdp: 38.00695085, change: 14.69, gdpAdjusted: 18931, changeAdjusted: 2.52 },
                BE: { gdp: 88.12506265, change: 5.30, gdpAdjusted: 46553, changeAdjusted: 1.13 },
                BZ: { gdp: 97.49451884, change: -0.64, gdpAdjusted: 8324, changeAdjusted: -1.35 },
                BJ: { gdp: 30.36247192, change: 4.92, gdpAdjusted: 2277, changeAdjusted: 3.46 },
                BT: { gdp: 34.19911694, change: 8.01, gdpAdjusted: 8744, changeAdjusted: 4.82 },
                BO: { gdp: 64.39016632, change: 7.30, gdpAdjusted: 7547, changeAdjusted: 2.73 },
                BA: { gdp: 167.3551177, change: 7.04, gdpAdjusted: 12724, changeAdjusted: 2.60 },
                BW: { gdp: 0, change: 8.34, gdpAdjusted: 17828, changeAdjusted: 0.38 },
                BR: { gdp: 230.4898784, change: 13.74, gdpAdjusted: 15602, changeAdjusted: 0.23 },
                BN: { gdp: 0, change: 10.31, gdpAdjusted: 78196, changeAdjusted: -0.70 },
                BG: { gdp: 0, change: 7.58, gdpAdjusted: 21687, changeAdjusted: 4.23 },
                BF: { gdp: 146.680062, change: 8.11, gdpAdjusted: 1889, changeAdjusted: 3.55 },
                BI: { gdp: 193.5898035, change: 4.85, gdpAdjusted: 735, changeAdjusted: -5.20 },
                KH: { gdp: 65.05135229, change: 8.76, gdpAdjusted: 4012, changeAdjusted: 5.46 },
                CM: { gdp: 15.08306007, change: 2.94, gdpAdjusted: 3660, changeAdjusted: 0.62 },
                CA: { gdp: 6.915338381, change: 6.27, gdpAdjusted: 48265, changeAdjusted: 2.10 },
                XK: { gdp: 0, change: 6.23, gdpAdjusted: 10514, changeAdjusted: 3.14 },
                CV: { gdp: 6.915338381, change: 4.91, gdpAdjusted: 6944, changeAdjusted: 2.69 },
                CF: { gdp: 0, change: 7.65, gdpAdjusted: 677, changeAdjusted: 2.45 },
                TD: { gdp: 63.00652333, change: -0.71, gdpAdjusted: 2344, changeAdjusted: -6.15 },
                CL: { gdp: 119.3887229, change: 9.66, gdpAdjusted: 24537, changeAdjusted: 0.69 },
                CN: { gdp: 255.8284905, change: 6.50, gdpAdjusted: 16660, changeAdjusted: 6.47 },
                CO: { gdp: 85.93556313, change: 9.21, gdpAdjusted: 14485, changeAdjusted: 0.96 },
                KM: { gdp: 21.75227263, change: 3.09, gdpAdjusted: 1588, changeAdjusted: 0.25 },
                CG: { gdp: 231.6619792, change: 6.66, gdpAdjusted: 6642, changeAdjusted: -7.20 },
                CR: { gdp: 18.7098728, change: -0.77, gdpAdjusted: 16877, changeAdjusted: 2.24 },
                HR: { gdp: 51.77555001, change: 6.70, gdpAdjusted: 24423, changeAdjusted: 3.15 },
                CY: { gdp: 31.78434551, change: 5.65, gdpAdjusted: 37023, changeAdjusted: 3.95 },
                CZ: { gdp: 53.56488717, change: 8.90, gdpAdjusted: 35512, changeAdjusted: 4.23 },
                CD: { gdp: 28.14788051, change: 2.32, gdpAdjusted: 790, changeAdjusted: 0.20 },
                DK: { gdp: 58.87570513, change: 4.97, gdpAdjusted: 49883, changeAdjusted: 1.49 },
                DJ: { gdp: 0, change: 4.52, gdpAdjusted: 3559, changeAdjusted: 5.19 },
                DM: { gdp: 113.2564497, change: -3.63, gdpAdjusted: 11102, changeAdjusted: -4.69 },
                DO: { gdp: 19.59369152, change: 3.67, gdpAdjusted: 16944, changeAdjusted: 3.50 },
                EC: { gdp: 183.9972, change: 2.21, gdpAdjusted: 11482, changeAdjusted: 1.29 },
                EG: { gdp: 232.7639722, change: -32.17, gdpAdjusted: 12671, changeAdjusted: 2.36 },
                SV: { gdp: 8.405745252, change: 4.06, gdpAdjusted: 8948, changeAdjusted: 1.88 },
                GQ: { gdp: 78.93862087, change: 2.65, gdpAdjusted: 36017, changeAdjusted: -7.97 },
                ER: { gdp: 129.021198, change: 13.88, gdpAdjusted: 1581, changeAdjusted: 2.73 },
                EE: { gdp: 10.25154108, change: 11.47, gdpAdjusted: 31749, changeAdjusted: 5.08 },
                ET: { gdp: 121.0665646, change: 8.82, gdpAdjusted: 2161, changeAdjusted: 8.43 },
                FM: { gdp: 57.61169377, change: 1.45, gdpAdjusted: 3393, changeAdjusted: 1.37 },
                FJ: { gdp: 41.53415597, change: 7.44, gdpAdjusted: 9777, changeAdjusted: 3.08 },
                FI: { gdp: 8.924638372, change: 5.75, gdpAdjusted: 44333, changeAdjusted: 2.63 },
                FR: { gdp: 14.7818888, change: 4.35, gdpAdjusted: 43760, changeAdjusted: 1.46 },
                GA: { gdp: 20.85076844, change: 6.96, gdpAdjusted: 19254, changeAdjusted: -1.33 },
                GM: { gdp: 8.010298922, change: 1.45, gdpAdjusted: 1713, changeAdjusted: 0.56 },
                GE: { gdp: 64.27330635, change: 5.86, gdpAdjusted: 10747, changeAdjusted: 5.07 },
                DE: { gdp: 368.1213807, change: 5.44, gdpAdjusted: 50425, changeAdjusted: 2.07 },
                GH: { gdp: 94.80405514, change: 7.18, gdpAdjusted: 4729, changeAdjusted: 6.28 },
                GR: { gdp: 203.4360926, change: 4.26, gdpAdjusted: 27737, changeAdjusted: 1.56 },
                GD: { gdp: 85.54682302, change: 5.10, gdpAdjusted: 14926, changeAdjusted: 3.04 },
                GT: { gdp: 40.33951332, change: 7.84, gdpAdjusted: 8145, changeAdjusted: 0.81 },
                GN: { gdp: 48.27119266, change: 11.88, gdpAdjusted: 2041, changeAdjusted: 4.09 },
                GW: { gdp: 10.08555706, change: 13.43, gdpAdjusted: 1845, changeAdjusted: 3.57 },
                GY: { gdp: 195.3439382, change: 3.24, gdpAdjusted: 8161, changeAdjusted: 1.55 },
                HT: { gdp: 115.2057808, change: 3.96, gdpAdjusted: 1815, changeAdjusted: -0.03 },
                HN: { gdp: 116.4610363, change: 4.66, gdpAdjusted: 5562, changeAdjusted: 3.17 },
                HK: { gdp: 75.46646763, change: 6.01, gdpAdjusted: 61393, changeAdjusted: 2.90 },
                HU: { gdp: 187.0928427, change: 3.16, gdpAdjusted: 29474, changeAdjusted: 4.32 },
                IS: { gdp: 93.82274653, change: 16.46, gdpAdjusted: 51841, changeAdjusted: 2.87 },
                IN: { gdp: 37.36625988, change: 13.35, gdpAdjusted: 7183, changeAdjusted: 5.43 },
                ID: { gdp: 30.15811063, change: 7.53, gdpAdjusted: 12377, changeAdjusted: 4.33 },
                IR: { gdp: 219.4857114, change: 5.53, gdpAdjusted: 20200, changeAdjusted: 3.24 },
                IQ: { gdp: 0, change: 12.24, gdpAdjusted: 16954, changeAdjusted: -3.79 },
                IE: { gdp: 25.67253852, change: 9.02, gdpAdjusted: 75539, changeAdjusted: 6.92 },
                IL: { gdp: 44.20728504, change: 8.24, gdpAdjusted: 36340, changeAdjusted: 1.77 },
                IT: { gdp: 67.46989565, change: 4.31, gdpAdjusted: 38140, changeAdjusted: 1.59 },
                CI: { gdp: 0, change: 8.14, gdpAdjusted: 3883, changeAdjusted: 5.28 },
                JM: { gdp: 21.44258503, change: 2.00, gdpAdjusted: 9163, changeAdjusted: 0.67 },
                JP: { gdp: 0, change: -1.40, gdpAdjusted: 42832, changeAdjusted: 1.94 },
                JO: { gdp: 64.48176429, change: 2.31, gdpAdjusted: 12494, changeAdjusted: 0.13 },
                KZ: { gdp: 385.4351518, change: 18.57, gdpAdjusted: 26252, changeAdjusted: 2.87 },
                KE: { gdp: 17.86717281, change: 9.66, gdpAdjusted: 3491, changeAdjusted: 2.29 },
                KI: { gdp: 0, change: 6.42, gdpAdjusted: 1976, changeAdjusted: 0.43 },
                KW: { gdp: 150.6841007, change: 5.60, gdpAdjusted: 66163, changeAdjusted: -4.31 },
                KG: { gdp: 34.91161496, change: 7.19, gdpAdjusted: 3667, changeAdjusted: 3.05 },
                LA: { gdp: 28.45681002, change: 5.20, gdpAdjusted: 7366, changeAdjusted: 5.38 },
                LV: { gdp: 216.7768884, change: 10.98, gdpAdjusted: 27644, changeAdjusted: 5.58 },
                LB: { gdp: 0, change: 2.73, gdpAdjusted: 19439, changeAdjusted: 0.63 },
                LS: { gdp: 85.46, change: 12.94, gdpAdjusted: 3581, changeAdjusted: 1.78 },
                LR: { gdp: 40.99797848, change: -2.12, gdpAdjusted: 1354, changeAdjusted: -0.05 },
                LY: { gdp: 0, change: 67.32, gdpAdjusted: 9987, changeAdjusted: 69.48 },
                LT: { gdp: 23.1859833, change: 12.14, gdpAdjusted: 32299, changeAdjusted: 4.38 },
                LU: { gdp: 75.16354371, change: 3.94, gdpAdjusted: 106374, changeAdjusted: 2.27 },
                MO: { gdp: 66.51627437, change: 10.10, gdpAdjusted: 111629, changeAdjusted: 9.42 },
                MK: { gdp: 22.39323954, change: 5.51, gdpAdjusted: 14914, changeAdjusted: -0.06 },
                MG: { gdp: 0, change: 11.50, gdpAdjusted: 1551, changeAdjusted: 1.37 },
                MW: { gdp: 105.0820515, change: 10.17, gdpAdjusted: 1167, changeAdjusted: 1.13 },
                MY: { gdp: 247.7303832, change: 4.68, gdpAdjusted: 29041, changeAdjusted: 4.55 },
                MV: { gdp: 171.5321227, change: 5.17, gdpAdjusted: 19151, changeAdjusted: 2.98 },
                ML: { gdp: 25.7850756, change: 5.62, gdpAdjusted: 2170, changeAdjusted: 2.31 },
                MT: { gdp: 12.66624432, change: 8.83, gdpAdjusted: 41945, changeAdjusted: 6.26 },
                MH: { gdp: 11.91626827, change: 8.21, gdpAdjusted: 3439, changeAdjusted: 1.83 },
                MR: { gdp: 98.79717071, change: 5.15, gdpAdjusted: 4444, changeAdjusted: 0.52 },
                MU: { gdp: 238.3103048, change: 1.88, gdpAdjusted: 21640, changeAdjusted: 3.67 },
                MX: { gdp: 93.02529615, change: 5.64, gdpAdjusted: 19903, changeAdjusted: 0.91 },
                MD: { gdp: 23.49263545, change: 19.51, gdpAdjusted: 5661, changeAdjusted: 4.24 },
                MN: { gdp: 13.65340303, change: -0.75, gdpAdjusted: 12979, changeAdjusted: 3.65 },
                ME: { gdp: 53.54792889, change: 8.80, gdpAdjusted: 17735, changeAdjusted: 4.16 },
                MA: { gdp: 62.56822716, change: 4.89, gdpAdjusted: 8567, changeAdjusted: 2.96 },
                MZ: { gdp: 62.43459784, change: 9.50, gdpAdjusted: 1244, changeAdjusted: 0.09 },
                MM: { gdp: 76.12199784, change: 4.41, gdpAdjusted: 6244, changeAdjusted: 5.82 },
                NA: { gdp: 172.1230199, change: 14.96, gdpAdjusted: 11312, changeAdjusted: -3.12 },
                NR: { gdp: 142.0705655, change: 9.60, gdpAdjusted: 12002, changeAdjusted: 1.22 },
                NP: { gdp: 27.17308757, change: 14.45, gdpAdjusted: 2679, changeAdjusted: 6.41 },
                NL: { gdp: 101.6024043, change: 5.89, gdpAdjusted: 53635, changeAdjusted: 2.83 },
                NZ: { gdp: 25.06396641, change: 6.51, gdpAdjusted: 38934, changeAdjusted: 2.03 },
                NI: { gdp: 69.53821724, change: 2.57, gdpAdjusted: 5849, changeAdjusted: 3.82 },
                NE: { gdp: 46.64996599, change: 6.29, gdpAdjusted: 1164, changeAdjusted: 1.37 },
                NG: { gdp: 53.74173733, change: -9.68, gdpAdjusted: 5929, changeAdjusted: -1.76 },
                NO: { gdp: 76.99595292, change: 6.07, gdpAdjusted: 71831, changeAdjusted: 0.87 },
                OM: { gdp: 28.83690189, change: 0.64, gdpAdjusted: 45157, changeAdjusted: -2.23 },
                PK: { gdp: 53.26207054, change: 6.95, gdpAdjusted: 5358, changeAdjusted: 3.58 },
                PW: { gdp: 7.090160146, change: 0.27, gdpAdjusted: 15934, changeAdjusted: -2.06 },
                PA: { gdp: 219.8591587, change: 5.35, gdpAdjusted: 25351, changeAdjusted: 3.82 },
                PG: { gdp: 102.1463593, change: 2.51, gdpAdjusted: 3674, changeAdjusted: 0.46 },
                PY: { gdp: 72.52131374, change: 6.47, gdpAdjusted: 9826, changeAdjusted: 3.06 },
                PE: { gdp: 19.78464884, change: 8.93, gdpAdjusted: 13334, changeAdjusted: 1.31 },
                PH: { gdp: 66.2370446, change: 0.78, gdpAdjusted: 8315, changeAdjusted: 5.15 },
                PL: { gdp: 1.589805432, change: 11.37, gdpAdjusted: 29521, changeAdjusted: 4.73 },
                PT: { gdp: 162.4068617, change: 3.68, gdpAdjusted: 30417, changeAdjusted: 3.08 },
                PR: { gdp: 0, change: -0.98, gdpAdjusted: 37339, changeAdjusted: -2.35 },
                QA: { gdp: 5.897457339, change: 4.39, gdpAdjusted: 124529, changeAdjusted: -2.31 },
                RO: { gdp: 247.7141487, change: 13.18, gdpAdjusted: 24508, changeAdjusted: 7.49 },
                RU: { gdp: 275.1013148, change: 19.19, gdpAdjusted: 27834, changeAdjusted: 1.50 },
                RW: { gdp: 0, change: 5.20, gdpAdjusted: 2080, changeAdjusted: 3.70 },
                KN: { gdp: 9.591824238, change: 1.90, gdpAdjusted: 26845, changeAdjusted: 1.71 },
                LC: { gdp: 179.6072359, change: 1.99, gdpAdjusted: 14450, changeAdjusted: 2.51 },
                VC: { gdp: 17.76699561, change: 3.99, gdpAdjusted: 11491, changeAdjusted: 0.70 },
                WS: { gdp: 26.42555944, change: 5.93, gdpAdjusted: 5740, changeAdjusted: 1.80 },
                SM: { gdp: 39.86411607, change: 3.80, gdpAdjusted: 59466, changeAdjusted: 1.65 },
                ST: { gdp: 63.60878382, change: 5.70, gdpAdjusted: 3180, changeAdjusted: 2.58 },
                SA: { gdp: 88.98853754, change: 3.95, gdpAdjusted: 54777, changeAdjusted: -2.63 },
                SN: { gdp: 12.85368555, change: 8.73, gdpAdjusted: 2727, changeAdjusted: 4.39 },
                RS: { gdp: 44.5451506, change: 8.71, gdpAdjusted: 15000, changeAdjusted: 1.83 },
                SC: { gdp: 105.2305095, change: 2.97, gdpAdjusted: 28779, changeAdjusted: 3.75 },
                SL: { gdp: 157.8034867, change: -5.88, gdpAdjusted: 1553, changeAdjusted: 1.35 },
                SG: { gdp: 159.1236331, change: 4.48, gdpAdjusted: 93906, changeAdjusted: 2.22 },
                SK: { gdp: 33.41964883, change: 6.73, gdpAdjusted: 33025, changeAdjusted: 3.61 },
                SI: { gdp: 59.50219175, change: 9.17, gdpAdjusted: 34408, changeAdjusted: 4.93 },
                SB: { gdp: 0, change: 1.18, gdpAdjusted: 2157, changeAdjusted: 1.29 },
                SO: { gdp: 125.5979913, change: 6.38, gdpAdjusted: 1229, changeAdjusted: -1.82 },
                ZA: { gdp: 0, change: 16.25, gdpAdjusted: 13545, changeAdjusted: -0.07 },
                KR: { gdp: 8.75028053, change: 8.56, gdpAdjusted: 39434, changeAdjusted: 2.72 },
                SS: { gdp: 2.28, change: -18.73, gdpAdjusted: 1489, changeAdjusted: -12.82 },
                ES: { gdp: 28.359, change: 6.31, gdpAdjusted: 38286, changeAdjusted: 3.01 },
                LK: { gdp: 40.85, change: 6.95, gdpAdjusted: 12811, changeAdjusted: 3.46 },
                SD: { gdp: 1.428, change: -1.91, gdpAdjusted: 4586, changeAdjusted: 0.82 },
                SR: { gdp: 57.46, change: 0.76, gdpAdjusted: 13876, changeAdjusted: -0.87 },
                SZ: { gdp: 3.915, change: 15.19, gdpAdjusted: 9884, changeAdjusted: -0.67 },
                SE: { gdp: 53.218, change: 3.39, gdpAdjusted: 51475, changeAdjusted: 1.68 },
                CH: { gdp: 80.591, change: 0.35, gdpAdjusted: 61422, changeAdjusted: 0.24 },
                TW: { gdp: 24.577, change: 9.03, gdpAdjusted: 50294, changeAdjusted: 2.51 },
                TJ: { gdp: 8.24, change: 2.54, gdpAdjusted: 3211, changeAdjusted: 5.06 },
                TZ: { gdp: 10.34, change: 5.58, gdpAdjusted: 3240, changeAdjusted: 2.96 },
                TH: { gdp: 65.91, change: 10.39, gdpAdjusted: 17855, changeAdjusted: 3.68 },
                TL: { gdp: 21.04, change: 1.19, gdpAdjusted: 5444, changeAdjusted: -2.67 },
                TG: { gdp: 6.11, change: 4.24, gdpAdjusted: 1659, changeAdjusted: 1.95 },
                TO: { gdp: 41.77, change: 5.56, gdpAdjusted: 5608, changeAdjusted: 2.26 },
                TT: { gdp: 157.69, change: -3.46, gdpAdjusted: 31367, changeAdjusted: -2.58 },
                TN: { gdp: 34.96, change: -5.24, gdpAdjusted: 11755, changeAdjusted: 0.85 },
                TR: { gdp: 105.12, change: -2.82, gdpAdjusted: 26893, changeAdjusted: 5.68 },
                TM: { gdp: 66.43, change: 3.59, gdpAdjusted: 18126, changeAdjusted: 4.86 },
                TV: { gdp: 36.38, change: 2.24, gdpAdjusted: 3807, changeAdjusted: 2.34 },
                UG: { gdp: 6.99, change: 1.04, gdpAdjusted: 2354, changeAdjusted: 2.86 },
                UA: { gdp: 25.83, change: 17.46, gdpAdjusted: 8713, changeAdjusted: 3.02 },
                AE: { gdp: 372.26, change: 5.21, gdpAdjusted: 67741, changeAdjusted: -0.86 },
                GB: { gdp: 397.35, change: -1.96, gdpAdjusted: 44117, changeAdjusted: 1.21 },
                US: { gdp: 595.01, change: 3.37, gdpAdjusted: 59501, changeAdjusted: 1.48 },
                UY: { gdp: 167.22, change: 11.02, gdpAdjusted: 22371, changeAdjusted: 2.74 },
                UZ: { gdp: 14.91, change: -28.81, gdpAdjusted: 6929, changeAdjusted: 3.89 },
                VU: { gdp: 30.94, change: 6.51, gdpAdjusted: 2739, changeAdjusted: 2.33 },
                VE: { gdp: 66.84, change: -12.16, gdpAdjusted: 12114, changeAdjusted: -15.30 },
                VN: { gdp: 23.54, change: 8.37, gdpAdjusted: 6913, changeAdjusted: 5.78 },
                YE: { gdp: 5.51, change: -23.23, gdpAdjusted: 1287, changeAdjusted: -16.17 },
                ZM: { gdp: 14.80, change: 18.11, gdpAdjusted: 3996, changeAdjusted: 0.95 },
                ZW: { gdp: 11.76, change: 5.78, gdpAdjusted: 2283, changeAdjusted: 1.02 },
                link: 'https://cssscript.com',
                linkTarget: '_blank'
            }
        };

        new svgMap({
            targetElementID: 'WorldMap',
            data: svgMapDataGDP,
           
        });
    </script>
    <h1>Private debt, loans and debt securities (percent of GDP)</h1>
    <h2>Choose your country</h2>
    <p>Make sure you spell it correctly with capital letter(s), e.g. United Kingdom</p>
    <input type="text" id="fname" name="fname" onchange="cb(this.value)">
    <div id="chart" class="chart"></div>

    <div id="piechart_3d" style="width: 900px; height: 500px;"></div>
</body>

<script>
    d = {{ graphJSON | safe }};
    //d.config={staticPlot: true};
    Plotly.newPlot('chart', d, {});
    
</script>
</html>
